html {
    body {
        color: var(--color);
        background-color: var(--bgColor);

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'OpenSans', -apple-system, BlinkMacSystemFont,
            'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans',
            'Droid Sans', 'Helvetica Neue',
            sans-serif;
    }
}

* {
    box-sizing: border-box;
}

.flex-spacer {
    flex: 1 1 auto;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
